<!-- make this file for making are error user friendly user can understand -->

<%- layout("/layouts/boilerplate") %>

<div class="row error">
  <div class="alert alert-danger offset-3 col-6" role="alert">
    <h4><%= message %></h4>
  </div>
</div>
